.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

.container {
  width: clamp(320px, 100%, 1400px);
  margin: auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.row > div {
  padding-left: 16px;
  padding-right: 16px;
}

.col {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

body {
  margin: 0;
  background-color: #1A1A1A;
  color: #fff;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.expression {
  border-left: 2px #b1b1b1 solid;
}

.expression-main {
  padding: 0 0 0 10px;
}

.expression-text {
  padding: 0 0 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-menu {
  background-color: #1C1C1C;
  margin-top: 40px;
  border: 1px solid #262626;
  border-radius: 100px;
  padding: 20px 34px;
}
.main-menu .items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu .registration {
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 5px;
}

.items a {
  padding: 10px 20px;
  margin: 0;
  font-weight: 400;
  line-height: 27px;
}
.items a:hover, .items a.active {
  background: #262626;
  border-radius: 16px;
}

.registration a {
  margin-right: 24px;
  font-weight: 400;
}

.btn, .btn-login {
  background-color: #caff33;
  border-radius: 20px;
  padding: 10px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
.btn-login {
  padding: 14px 30px;
  color: #1C1C1C;
}/*# sourceMappingURL=style.css.map */