$grid-count: 12;

@for $i from 1 through $grid-count{
    .col-#{$i} {
        width: $i * 100% / $grid-count;
    }
}

@each $size, $name in (768: md, 992: lg){
    @media screen and (min-width: #{$size}px){

        @for $i from 1 through $grid-count{
    .col-#{$name}-#{$i} {
        width: $i * 100% / $grid-count;
    }
}
    }
}

*{
  box-sizing: border-box;
}

  $gutter: 16px;

.container {
  width: clamp(320px, 100%, 1400px);
  margin: auto;
  padding: 0 $gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: $gutter * -1;
  margin-left: $gutter * -1;
}

.row > div {
  padding-left: $gutter;
  padding-right: $gutter;
}

.col {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}
body{
  margin: 0;
  background-color: #1A1A1A;
  color: #fff;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}
button{
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}