@import "grid";
@import "mixins";
@import "padding";

a{
  text-decoration: none;
  color: inherit;
}


.main-menu {
  background-color: #1C1C1C;
  margin-top: 40px;
  border: 1px solid #262626;
  border-radius: 100px;
  padding: 20px 34px;
  .items{
    @include flex(center);
  }
  .registration{
    @include flex(end);
  }
}

.logo{
    @include flex;
    padding-top: 5px;
}



.items {
  a {
    padding: 10px 20px;
    margin: 0;
    font-weight: 400;
    line-height: 27px;
    &:hover,  &.active{
      background: #262626;
      border-radius: 16px;
    }
  }
}

.registration {
  & a {
    margin-right: 24px;
    font-weight: 400;
  }
}

.btn {
  background-color: #caff33;
  border-radius: 20px;
  padding: 10px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  &-login {
    @extend .btn;
    padding: 14px 30px;
    color: #1C1C1C
  }
}
